<h3>Checkout some of our user's profiles and playlists</h3>
<% @users.each do |user| %>
  <p>
    <%= link_to "#{user.email}", user_path(user) %>
  </p>
<% end %>

<br>
<br>
<h3>Or checkout all of the songs added so far!</h3>
<%= link_to "All Songs!", songs_path %>
