<div id = "home">
</div>

<div class="hero">
  <div class="hero-inner">
    <a href="" class="hero-logo"><%= image_tag 'microphone.png' %></a>
    <div class="hero-copy">
      <h1>Welcome</h1>
      <%= render template: 'sessions/new' %>
  </div>
</div>